<ul>
{% assign items = (site.docs | sort: 'orden') %}
{% for album in items %}
    <li>
        {% assign direccion =  {{album.url}} | prepend:{{site.baseurl}} | remove: "index.html" %}
        <a href="{{ direccion }}">{{ album.title }}</a>
    </li>
{% endfor %}
</ul>

{% for document in items %}
    {% assign document_url = document.url %}
    {% if document_url == page.url %}
        {% if forloop.first %}
            {% assign previous = forloop.index0 | minus: 1 %}
            {% assign previous_page = items[previous].url | prepend:{{site.baseurl}} | remove: "index.html" %}
            <span class="prev disabled">Back</span>
        {% else %}
            {% assign previous = forloop.index0 | minus: 1 %}
            {% assign previous_page = items[previous].url | prepend:{{site.baseurl}} | remove: "index.html" %}
            <a href="{{ previous_page }}" class="prev">Back</a>
        {% endif %}
        {% if forloop.last %}
            <span class="next disabled">Next</span>
            {% assign next = forloop.index0 | plus: 1 %}
            {% assign next_page = items[next].url | prepend:{{site.baseurl}} | remove: "index.html"%}
        {% else %}
            {% assign next = forloop.index0 | plus: 1 %}
            {% assign next_page = items[next].url | prepend:{{site.baseurl}} | remove: "index.html"%}
            <a href="{{ next_page }}" class="next">Next</a>
        {% endif %}
    {% endif %}
{% endfor %}
