<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Firewall by VTacius</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Firewall</h1>
        <p>Configuración de Iptables + Squid3 + SquidGuard como Firewall/Proxy para pequeñas organizaciones</p>

        <p class="view"><a href="https://github.com/VTacius/firewall">View the Project on GitHub <small>VTacius/firewall</small></a></p>

        <ul>
          <li><a href="https://github.com/VTacius/firewall/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/VTacius/firewall/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/VTacius/firewall">View On <strong>GitHub</strong></a></li>
        </ul>

      </header>
      <section>
        <ul>
          <li><a href="/index.html"><strong>Inicio</strong></a></li>
          <li><a href="/about"><strong>Sobre el proyecto</strong></a></li>
          <li><a href="/squid3"><strong>Squid3</strong></a></li>
          <li><a href="/squidguard"><strong>SquidGuard</strong></a></li>
        </ul>
	{{ content }}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/VTacius">VTacius</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
    
  </body>
</html>
